# Flask
Flask==0.9
sqlalchemy==0.7.9
flask-sqlalchemy==0.16
sqlalchemy-migrate
wtforms==1.0.5
flask-wtf==0.9.3
Flask-Login
Flask-OpenID
Flask-Markdown
Jinja2==2.6
Werkzeug==0.8.3
gunicorn==0.17.2

# tests
flask-testing==0.4
selenium==2.33.0

# debug
flask-debugtoolbar==0.8.0

# db
PyMySql
