<div class="post-container">

    <h4 class="post-title">Mount Kimbie - Cold Spring Fault Less Youth</h2>
    <div class="post-text">
        <img class="post-image" src="/static/images/Mount-Kimbie-Cold-Spring-Fault-Less-Youth-front-cover.jpg" />
        <p>
            This is one of my favorite albums of the year. Awesome features by someone I've been digging lately, King Krule, and such an excellent job of melding electric (bass) guitars and electronic drums. Standouts for me include "Home Recording", You Took Your Time", "Break Well", "Made to Stray", and "Sullen Ground".

        </p>
    </div>
</div>