body{
    background-color: #000000;

}



a:link {
  color: white ;
  background-color: transparent ;
  text-decoration: underline ;
}

a:visited {
    color:white;
}

a:hover {
  color: gray ;
}

#allposts-container{

    /* Border Stuff*/
    border-color: white;
    border-right-style: groove;
    border-left-style: groove;
    width: 60%;
    left: 20%;
    position: relative;

}
.post-container{    
    color: white;
    font-family: 'Alegreya Sans', sans-serif;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
}

.post-title{
    text-align: center;
}
.post-text{
    /*display: inline-block;*/
    text-align: left; 
    float: left;
}

.post-image{
    margin-left: auto;
    margin-right: auto;
    width: 83%;
    /*height: 83%;*/
    
    float: left;
}

.image-container{
/*    display: inline-block;
*/
    width: 25%;
    height: 25%;
    float: left;
}

#index-heading{
    color:white;
    font-size: 32;
    text-align: center;
    font-family: 'Jacques Francois', serif;
}



.admin-form-field{
    background-color: white;
    color: black;
    width: 380px;
}

.byline-container{
    font-size: small;
}

.content-links{

}


.admin{
    color:white;
}